<ion-view view-title="Browse">
  <ion-content>
    <h1>--Synchronize--</h1>
    <ul class="list">
      <li ng-repeat="item in tickets" class="item">
        <div class="row">
          <div class="col col-90">
            <h2 style="font-weight:bold;">{{item.name}} {{item.surname}}</h2>
          </div>
          <div class="col col-10"></div>
        </div>
        <div class="row">
          <div class="col col-90">
            <p>{{item.nameEntrance}}</p>
          </div>
          <div class="col col-10"></div>
        </div>
        <div class="row">
          <div class="col col-90">
            <p>{{item.entranceId}} - {{item._date}}</p>
          </div>
          <div class="col col-10"></div>
        </div>
      </li>
    </ul>
    <button ng-click="initDB()" class="button button-full button-positive">
      Synchronize db
    </button>
  </ion-content>
</ion-view>