<ion-view view-title="Browse">
  <ion-content>
    <h1>--Synchronize--</h1>
    <ul class="list">
      <li class="item">
        <div class="row">
          <div class="col col-90">
            <h2 style="font-weight:bold;">Alice O'Connell</h2>
          </div>
          <div class="col col-10"></div>
        </div>
        <div class="row">
          <div class="col col-90">
            <p>Advanced Ticket</p>
          </div>
          <div class="col col-10"></div>
        </div>
        <div class="row">
          <div class="col col-90">
            <p>368987452 - 04/08/17, 01:05</p>
          </div>
          <div class="col col-10"></div>
        </div>
      </li>
    </ul>
    <button ng-click="initDB()" class="button button-full button-positive">
      Synchronize db
    </button>
  </ion-content>
</ion-view>